@font-face {
    font-family: 'nikeFont';
    src: url(nikefont/Futura\ Std\ Bold\ Oblique.ttf);

    font-family: 'subfont';
    src: url(nikefont/Futura\ Std\ Book.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(to right, #c72092, #6c14d0);
}

section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #8D93AB, #D6E0F0, #E4DCCF, #F0EBE3);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

section nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px black;
    background: #F1F3F8;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

section nav .logo {
    font-size: 30px;
    color: #c72092;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    left: -4%;
}

section nav .logo span {
    color: #6c14d0;
    text-decoration: underline;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 5px 15px;
}

section nav ul li a{
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

section nav ul li a:hover{
    color: #c72092;
    text-decoration: underline;
}

section nav .icon i{
    margin: 0 10px;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
}

section nav .icon i:hover{
    color: #c72092;
}

section .main .main_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section .main .main_content .main_text h1{
    line-height: 75px;
    font-size: 90px;
    font-family: 'nikeFont', sans-serif;
    background: linear-gradient(to right, #393B44, #6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 45px;
    left: 5%;
}

section .main .main_content .main_text h1 span{
    font-size: 70px;
    font-family: 'nikeFont', sans-serif;
    background: linear-gradient(to right, #393B44, #6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section .main .main_content .main_text p{
    width: 600px;
    text-align: justify;
    position: relative;
    line-height: 20px;
    top: 85px;
    left: 2%;
}

section .main .main_content .main_image img{
    width: 600px;
    height: 800px;
    position: relative;
    top: 125px;
}

section .main .social_icon{
    position: absolute;
    top: 50%;
    left: 98%;
    font-size: 20px;
    transform: translate(-50%,-50%);
}

section .main .social_icon i{
    margin: 8px 0;
    cursor: pointer;
    transition: 0.5s;
}

section .main .social_icon i:hover{
    color: #c72092;
}

section .main .button{
    padding: 10px 20px;
    border-radius: 30px;
    position: absolute;
    left: 8%;
    background: linear-gradient(to right, #c72092, #6c14d0);
}

section .main .button a{
    color: white;
    text-decoration: none;
}

section .main .button i{
    color: white;
    margin-left: 5px;
    transition: 0.5s;
}

section .main .button i:hover{
    transform: translateX(6px);
}

/* Products */

.products{
    width: 100%;
    height: 140vh;
    padding: 25px 0;
}

.products h1{
    margin: 35px 0;
    font-size: 60px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #c72092, #6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.products .box{
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
}

.products .box .card{
    width: 300px;
    height: 450px;
    box-shadow: 0 0 8px #6c14d0;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    background: white;
}

.products .box .card .small_card{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 10px 0;
    transform: translateX(-20px);
    transition: 0.5s;
    opacity: 0;
}

.products .box .card .small_card:hover{
    transform: translateX(2px);
    cursor: pointer;
    opacity: 1;
}

.products .box .card .small_card i{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    margin: 2px 0;
    line-height: 40px;
    border: 2px solid #9999;
    transition: 0.5s;
}

.products .box .card .small_card i:hover{
    color: #6c14d0;
}

.products .box .card .image{
    display: flex;
    align-content: center;
    justify-content: center;
}

.products .box .card .image img{
    width: 170px;
    margin: 15px 0;
    transition: 0.5s;
}

.products .box .card:hover .image img{
    transform: scale(1.1);
}

.products .box .card .products_text h2{
    font-size: 30px;
    margin-top: 15px;
}

.products .box .card .products_text p{
    margin: 8px 0;
    line-height: 20px;
    color: #91919191;
}

.products .box .card .products_text h3{
    margin: 7px 0;
}

.products .box .card .products_text .products_star{
    color: orange;
    cursor: pointer;
    margin-bottom: 20px;
}

.products .box .card .products_text .btn{
    text-decoration: none;
    padding: 10px 20px;
    background: linear-gradient(to right, #c72092, #6c14d0);
    color: white;
}

/* About */

.about{
    width: 100%;
    height: 100vh;
    padding: 35px 0;
}

.about h1{
    font-size: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.about h1 span{
    background: linear-gradient(to right, #c72092, #6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 15px;
}

.about .about_main{
    position: relative;
    top: 40%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translate(-50%,-50%);
}

.about .about_main .about_image{
    display: flex;
    margin-top: 50px;
}

.about .about_main .image_contaner{
    display: flex;
    padding: 10px;
}

.about .about_main .image_contaner img{
    background-color: #f6f6f6;
    border: 3px solid #6c14d0;
    border-radius: 20px;
    padding: 30px;
    height: 430px;
    box-shadow: 0 0 8px #6c14d0;
}

.about .about_main .about_text{
    margin-top: 45px;
}

.about .about_main .about_text p{
    background: linear-gradient(to right, #c72092, #6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 22px;
    width: 600px;
    text-align: justify;
    padding: 25px 30px;
    border: 2px solid #c72092;
    border-radius: 20px;
    box-shadow: 0 0 8px #c72092;
}

.about .about_btn{
    color: black;
    background: none;
    position: relative;
    top: 20%;
    left: 50%;
    padding: 10px 25px;
    transform: translate(-50%,-50%);
    border: 2px solid #c72092;
    box-shadow: 0 0 8px #c72092;
    text-decoration: none;
    transition: 0.5s;
}

.about .about_btn:hover{
    background: #c72092;
    color: white;
    border: 2px solid transparent;
}

/* Review */

.review{
    width: 100%;
    height: 100vh;
    padding-top: 80px;
}

.review h1{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.review h1 span{
    background: linear-gradient(to right, #c72092, #6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 15px;
}

.review .review_box{
    width: 95%;
    position: relative;
    top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.review .profile .profile_image{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 5px 0;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    transition: 0.5s;
}

.review .profile .profile_image:hover{
    transform: scale(1.2);
}

.review .profile_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.review .profile{
    display: flex;
    align-items: center;
}

.review .review_box .review_card{
    width: 500px;
    background: white;
    padding: 20px 25px;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 0 10px black;
}

.review .review_box .review_card .card_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review .review_box .review_card .card_top .profile .name{
    margin-left: 20px;
    line-height: 22px;
}

.review .review_box .review_card .card_top .profile .name strong{
    font-size: 20px;
}

.review .review_box .review_card .card_top .profile .name .like i{
    color: orange;
    font-size: 15px;
    display: inline-block;
}

.review .review_box .review_card .comment p{
    text-align: justify;
    line-height: 22px;
    margin-top: 15px;
}

/* Service */

.services{
    width: 70%;
    padding: 80px 0 10px 0;
    margin: 0 auto;
    text-align: center;
}

.services h1{
    font-size: 60px;
    text-transform: uppercase;
}

.services h1 span{
    margin-left: 15px;
    background: linear-gradient(to right, #c72092, #6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services .service_cards{
    width: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
}

.services .service_box i{
    color: orange;
    font-size: 60px;
    margin: 20px 0;
    cursor: pointer;
}

.services .service_box h3{
    margin-bottom: 10px;
    font-size: 20px;
}

.services .service_box p{
    text-align: center;
    color: #91919191;
    margin-bottom: 40px;
}

/* Register Form */

.register_form{
    width: 100%;
    height: 100vh;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(image/3433814.jpg);
    background-size: cover;
    background-position: center;
}

.register_form .left img{
    width: 650px;
}

.register_form .left img:hover{
    transform: scale(1.1);
}

.register_form .right{
    position: relative;
    padding: 50px 80px;
    top: -50px;
    left: -60px;
}

.register_form .right h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
}

.register_form .right p{
    margin-bottom: 5px;
}

.register_form .right .user{
    border: 2px solid #6c14d0;
    border-radius: 5px;
    height: 40px;
    width: 350px;
    display: flex;
}

.register_form .right .user i{
    position: relative;
    color: #c72092;
    top: 10px;
    left: 15px;
}

.register_form .right .user .username{
    position: relative;
    left: 8%;
    width: 295px;
    outline: none;
    background: none;
    border: none;
    display: flex;
    font-size: 15px;
}

.register_form .right .email_tag{
    margin: 15px 0 5px 0;
}

.register_form .right .email{
    border: 2px solid #6c14d0;
    border-radius: 5px;
    height: 40px;
    width: 350px;
    display: flex;
}

.register_form .right .email i{
    position: relative;
    color: #c72092;
    top: 10px;
    left: 15px;
}

.register_form .right .email .email_type{
    position: relative;
    left: 8%;
    width: 295px;
    outline: none;
    background: none;
    border: none;
    display: flex;
    font-size: 15px;
}

.register_form .right .password_tag{
    margin: 15px 0 5px 0;
}

.register_form .right .password{
    border: 2px solid #6c14d0;
    border-radius: 5px;
    height: 40px;
    width: 350px;
    display: flex;
}

.register_form .right .password i{
    position: relative;
    color: #c72092;
    top: 10px;
    left: 15px;
}

.register_form .right .password .password_type{
    position: relative;
    left: 8%;
    width: 295px;
    outline: none;
    background: none;
    border: none;
    display: flex;
    font-size: 15px;
}

::-webkit-input-placeholder{
    opacity: 0.5;
    color: black;
}

.register_form .right .forget{
    cursor: pointer;
    text-decoration: none;
    position: relative;
    margin: 10px 0 10px 0;
    left: 45%;
    font-weight: bold;
}

.register_form .right button{
    width: 350px;
    padding: 7px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(to right, #c72092, #6c14d0);
}

.register_form .right .register_icon{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 25px;
}

.register_form .right .register_icon a{
    width: 30px;
    height: 30px;
    margin: 0 2px;
    border-radius: 50%;
    background: #f3f3f3;
    box-shadow: 0 0 5px black;
}

.register_form .right .register_icon img{
    width: 20px;
    margin: 5px 5px;
}

/* Footer */

footer{
    width: 100%;
}

footer .footer_main{
    width: 100%;
    display: flex;
    color: #f3f1f1;
    justify-content: space-around;
}

footer .footer_main .tag{
    margin: 10px 0;
}

footer .footer_main .tag .center{
    text-align: center;
}

footer .footer_main .tag h1{
    color: #1c0080;
    font-size: 25px;
    margin: 25px 0;
}

footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 9px 0;
}

footer .footer_main .tag a i{
    padding: 0 10px;
    transition: 0.5s;
}

footer .footer_main .tag a i:hover{
    color: #c72092;
}

footer .footer_main .tag .social_link{
    display: flex;
}

footer .footer_main .tag .social_link a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 20px 10px rgb(0, 0, 0, 0.05);
    position: relative;
    margin: 0 5px;
    overflow: hidden;
    z-index: 10;
}


footer .footer_main .tag .social_link a .fa-brands{
    font-size: 15px;
    line-height: 30px;
    z-index: 10;
    position: relative;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover i{
    color: white;
}

footer .footer_main .tag .social_link a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -90px;
    background: linear-gradient(-45deg, #c72092, #6c14d0);
    position: absolute;
    z-index: -10;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover:after{
    left: 0;
}

footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgb(202, 202, 202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar .search_input{
    width: 200px;
    padding: 6px 2px;
    top: 15%;
    left: 6%;
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
}

footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: linear-gradient(to right, #c72092, #6c14d0);
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}